<div class="container">
  <div class="row">
    <div class="carousel-showmanymoveone" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="chunk in movies" index="$index">
        <div class="col-xs-12 col-sm-6 col-md-2" ng-repeat="movie in chunk">
          <img class="img-responsive" ng-src="../assets/img/movie_posters/{{formatImgName(movie.name)}}">
          <div class="carousel-caption">
            <h4>{{movie.name}}</h4>
            <p>{{movie.genre.join(', ')}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row">
      <h3>Ticket</h3>
      <div class="col-sm-6">
        1/2
      </div>
      <div class="col-sm-6">
        2/2
      </div>
    </div>
  </div>
</div>