<div class="container">
  <div class="row">
    <div class="carousel-showmanymoveone" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="chunk in movies" index="$index">
        <div class="col-xs-12 col-sm-6 col-md-2" ng-repeat="movie in chunk" ng-click="setSelectedMovie(movie)">
          <img class="img-responsive" ng-src="../assets/img/movie_posters/{{formatImgName(movie.name)}}">
          <div class="carousel-caption carousel-caption-custom">
            <h4>{{movie.name}}</h4>
            <p>{{movie.genre.join(', ')}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="selectedMovie">
    <div class="col-sm-12">
      <h5>{{selectedMovie.name}}</h5>
      <p>{{selectedMovie.synopsis}}</p>
    </div>
  </div>
</div>

<div>
  <div class="container typeahead-demo">
    <div class="row">
      <h3>Ticket</h3>
      <div class="col-sm-6" >
        <form name="pickMovieTimeForm">

          <h4>Theatre</h4>
          <input 
            id="theatre"
            ng-model="pickMovieTime.selectedTheatre"
            type="text" list="theatres"
            autocomplete="off" placeholder="Type or Select Theatre or City"
            class="theatre-datalist"
            ng-change="filterMovies()"
            required
          />
          <datalist id="theatres">
            <option ng-repeat="theatre in theatres">{{theatre.address}}</option>
          </datalist>
  
          <h4>Movie</h4>
          <input
            id="movie"
            ng-model="pickMovieTime.selectedMovie"
            type="text"
            list="movies"
            autocomplete="off"
            placeholder="Type or Select Movie"
            class="theatre-datalist"
            ng-change="findMovie()"
            required
          />
          <datalist id="movies">
            <option ng-repeat="movie in filteredMovies">{{movie.name}}</option>
          </datalist>

          <h4>Day</h4>
          <p class="input-group">
            <input
              type="text"
              class="form-control"
              uib-datepicker-popup="{{format}}"
              ng-model="pickMovieTime.date"
              is-open="isDatePickerOpen"
              datepicker-options="dateOptions"
              required
              close-text="Close"
              alt-input-formats="altInputFormats"
            />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </form>
      </div>
      <div class="col-sm-6" ng-show="pickMovieTimeForm.$valid">
        <div class="row" ng-show="movieShowTimes">
          <button type="button" class="btn btn-primary" ng-repeat="showtime in movieShowTimes">{{showtime}}</button>
        </div> 
        <div class="row" ng-show="!movieShowTimes">
          <div class="col-md-12">
            No times for the selected theatre
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
